*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: Poppins;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: #343541;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-bar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color:black ;
}

#heading{
    text-align: center;
    font-size: 30px;
    color: #19C37D;
}

#form{
    min-height: 80vh;
    width: 45vw;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0px;
}
input{
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 10px ;
    color: black;
    font-size: 18px; 
    border: solid transparent 3px;
    outline: none;
}
label{
    font-size: 18px;
}

input:focus{
    border: solid #19C37D 3px;
    background-color: rgba(255,255,255,0.8);
}
input::placeholder{
    color: black;
    font-size: 18px;  
}
select{
    background-color:  rgba(255,255,255,0.5);
    cursor: pointer; 
    border: solid transparent 3px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
    color: black;
}
select:focus{
    border: solid #19C37D 3px;
    color: black;
    background-color: rgba(255,255,255,0.8);
}

option{
    font-size: 14px;
    padding: 8px;
    color: black;
}
.row-fields{
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 5px 0px;
    flex-direction: row;
    align-items: center;
    
}
.row{
    display: flex;
    flex-direction: row;
    margin: 0px 5px;
}

.createElements{
    color: black;
    width: 100%;
    padding: 4px;
    font-size: 18px;
}
input[type=submit]{
    background-color: #19C37D;
    color: white;
    font-size: 18px;
    margin: 10px 0px;
    font-weight: bold;
    cursor: pointer;
    border: solid 3px transparent;
    transition: ease-in-out 200ms;
}

input[type=submit]:hover{
    background-color: #058f56;
    transform: scale(1.02);
}

.inputContent{
    padding: 4px;
    margin: 10px 0px;
    width: 90%;
}

#createForm{
    position: absolute;
    right: 80px;
    bottom: 80px;
    padding: 10px;
    background-color:  #19C37D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: ease-in-out 200ms;
}
#createForm:hover{
    background-color: #058f56;
    transform: scale(1.02);
}


@media (max-width : 600px){
    .side-bar{
        display: none;
    }
    #form{
        width: 80%;
    }
    .row-fields{
        flex-wrap: wrap;
    }
    #createForm{
        display: none;
    }
}

